#oi{
    width:500px; 
    height: fit-content; 
    background-color: #ffff;
    border-radius: 20px;
    border: solid 2px rgb(26, 76, 214);
    margin: 20px ;
    padding: 20px; 

}

#oi2{
    width:500px; 
    height: fit-content; 
    background-color: #ffff; 
    border-radius: 20px;
    border: solid  2px rgb(26, 87, 253); 
    margin: 20px; 
    padding: 20px;
} 